# MinIO internal config files (can appear depending on usage)
.minio.sys/
*.minio

# Prevent secrets from being committed
.env
.env.local
.env.*.local

# Avoid duplicate declaration
node_modules/

# certs
certs/
